<style>
/*wzs21*/

/** 

Main Group Box Fieldset : set name to main_gb

Input
----------------
required : set backgroundColor to 1
not required : set backgroundColor to 0

Tab
----------------
Tab Push Button : name must have TAB in it
Tab Push Button Active : set name to TAB_ACTIVE

Breadcrumb : set name to ltl_breadcrumb


* for disabled set as usual
* remove all CssClass code

*/
body{
background: blue;
font-family: Arial, Helvetica, sans-serif !important;
}

div.gen_content{
	margin: auto !important;
}

/*###################################*/
/* dropdown list */
.gen_dropdownlist button{
border: 1px solid #255cc4 !important;
background-color: white !important;
}

span.gen_dropdownlist, span.gen_dropdownlist span{
border-color: rgba(0,0,0,0) !important;
background: rgba(0,0,0,0) !important;
}

/*###################################*/
/* tab */
span[id*="PB_"],span[id*="PB_"] span,
span[id*="TAB"],span[id*="TAB"] span{
border-color: rgba(0,0,0,0) !important;
background: rgba(0,0,0,0) !important;
}

button[id*="PB_"],button[id*="TAB"]{
	color: #255cc4 !important;
	padding: 0px 5px !important;
	font-size: 12px !important; 
	margin-right: 0px !important;
	border: 1px solid #255cc4 !important;
	background-color: white !important;
	cursor: pointer !important;
	font-weight: bold !important;
	border-radius: 0px !important;
}

button[id*="PB_TAB"],button[id*="TAB"]{
	border-radius: 13px 13px 0px 0px !important;
}

span[id*="PB_EXIT"]{
	display:none;
}


button:hover {
background-color: #255cc4 !important;
color: white !important;
}

button[id*="PB_"]:active{
opacity:0.8 !important;
}

/*###################################*/
/*override tab color */
button[id*="TAB"]{
color:white !important;
border-color: #666666!important;
background-color: #666666!important;

}

button[id*="TAB"]:hover, button[id*="TAB_ACTIVE"]{
background-color: #f5871f!important;
color: white !important;
}

button[disabled="disabled"],button[disabled=""],button.MENU-BTN-DISABLED
,button[disabled="disabled"]:hover,button[disabled=""]:hover,button.MENU-BTN-DISABLED:hover
,button[disabled="disabled"]:active,button[disabled=""]:active,button.MENU-BTN-DISABLED:active{
color: #4a4a4a !important;
background-color: #c3c3c3 !important;
cursor: not-allowed !important;
border-color: #545454 !important;
}

button[id*="TAB"][disabled="disabled"],
button[id*="TAB"][disabled="disabled"]:hover{
color: #999999 !important;
background-color: #666666 !important;
cursor: not-allowed !important;
border-color: #545454 !important;
}


buttonid*="TAB"][disabled="disabled"]{
color: #999999 !important;
background-color: #666666 !important;
cursor: not-allowed !important;
border-color: #545454 !important;
}

/*###################################*/
/* Input */
input,select{
border: 1px solid gray !important;
padding: 0px 4px !important;
border-radius: 0px !important;
}

input[disabled=""],input[readonly=""],
.INPUT-DISABLED, .INPUT-DISABLED A, TD.INPUT-DISABLED, TD.INPUT-DISABLED A, DIV.INPUT-DISABLED A{  
color: #334351 !important;
background-color: #d3dbe3 !important;
cursor: not-allowed !important;
}

/** required field *****/
input[style*="background-color: rgb(0, 0, 1);"]
,input[style*="rgb(0, 0, 1);"]
,input[style*="background-color: rgb(1, 178, 7);"]
,input[style*="rgb(1, 178, 7);"]{
background-color: #ffe0e0 !important;
border: 1px solid #e5373 !important;
}

/*###################################*/
/* Fieldset */
fieldset[id*="GroupBox"],fieldset.gen_group{  
border: 1px solid #255cc4 !important;
padding: 0px 9px 0px 4px !important;
background-color:#f9f9ff !important;
border-radius: 10px !important;
padding-bottom: 10px !important;
}

fieldset[id*="GroupBox"] legend[id*="legend"],fieldset.gen_group legend{  
color: #255cc4 !important;
font-weight: bold !important;
/*background: white !important;*/
/* padding: 0px 7px !important; */

font-size: 16px !important;
margin-bottom: -25px !important;
margin-left: 5px !important;
}

/*###################################*/
/** MAIN GroupBox *********/
div.gen_content{
background: linear-gradient(to bottom right,white,#f2f5ff) !important; 
background: white !important; 
}
fieldset[id*="main_gb"]{
box-shadow: none !important;
margin: auto important;
background-color: white !important;
position: relative important;
border-color: rgba(0,0,0,0) !important;
}

/*###################################*/
/** Breadcrumb *****/
span[id*="ltl_breadcrumb"]{
border-top: 1px #255cc4 solid;
margin-top: 2px;
color: #255cc4;
font-weight: bold;
padding: 5px 0px;
}

/*###################################*/
/*table literal*/
table[id*="Literal"]{
	background-color : rgba(0,0,0,0);
	color: #1549ab !important;
}


/*###################################*/
/*custom popup*/
#custom-popup {
    display: flex;
    justify-content: center;
	padding-top: 50px;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    position: fixed;
	top: 0;
	left: 0;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#custom-popup #cp-background {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#custom-popup #cp-content {
	position: relative;
	background: rgba(0,0,0,0);
	width: 500px;
	max-width: 99vw;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#custom-popup #cp-content #cp-header{
	background: black;
	color:white;
	padding: 10px;
	text-align:center;
	text-transform:uppercase;
	border-radius: 10px 10px 0px 0px;
}

#custom-popup #cp-content #cp-body{
	background: white;
	padding: 20px;
	border-radius: 0px 0px 10px 10px;
	word-wrap: break-word;
}

#custom-popup #cp-content #cp-close{
	border-radius: 100%;
	position: absolute;
	right: 4px;
	top: 4px;
	text-align:center;
	font-weight:bold;
	width:20px;
	height:20px;
	background-color:rgba(0,0,0,0.3);
	color:white;
	padding:3px;
	cursor:pointer;
}

#custom-popup #cp-content #cp-close:hover{
	opacity: 0.8;
}

#custom-popup #cp-content #cp-close:active{
	opacity: 1;
}

#custom-popup #cp-content.cp-error #cp-header{
	background: #dd2727;
}
#custom-popup #cp-content.cp-info #cp-header{
	background: #2f7efc;
}
#custom-popup #cp-content.cp-success #cp-header{
	background: #3aa536;
}

</style>
