<style>
/*wzs21*/

body{
	font-family: Arial, Helvetica, sans-serif !important;
}

div.gen_content{
	margin: auto !important;
}

/*###################################*/
/* dropdown list */
.gen_dropdownlist button{
border: 1px solid #255cc4 !important;
background-color: white !important;
}

span.gen_dropdownlist, span.gen_dropdownlist span{
border-color: rgba(0,0,0,0) !important;
background: rgba(0,0,0,0) !important;
}

/*###################################*/
/* tab */
span[id*="PB_"],span[id*="PB_"] span,
span[id*="TAB"],span[id*="TAB"] span{
border-color: rgba(0,0,0,0) !important;
background: rgba(0,0,0,0) !important;
}

button[id*="PB_"],button[id*="TAB"]{
	color: #255cc4 !important;
	padding: 0px 5px !important;
	font-size: 12px !important; 
	margin-right: 0px !important;
	border: 1px solid #255cc4 !important;
	background-color: white !important;
	cursor: pointer !important;
	font-weight: bold !important;
	border-radius: 0px !important;
}

button[id*="PB_TAB"],button[id*="TAB"]{
	border-radius: 13px 13px 0px 0px !important;
}

span[id*="PB_EXIT"]{
	display:none;
}


button:hover {
background-color: #255cc4 !important;
color: white !important;
}

button[id*="PB_"]:active{
opacity:0.8 !important;
}

/*###################################*/
/*override tab color */
button[id*="TAB"]{
color:white !important;
border-color: #666666!important;
background-color: #666666!important;
}

button[id*="TAB"]:hover, button[id*="TAB_ACTIVE"], button[id*="TAB_active"]{
background-color: #f5871f!important;
color: white !important;
}

button[disabled="disabled"],button[disabled=""],button.MENU-BTN-DISABLED,button[class*="DISABLED"]
,button[disabled="disabled"]:hover,button[disabled=""]:hover,button.MENU-BTN-DISABLED:hover,button[class*="DISABLED"]:hover
,button[disabled="disabled"]:active,button[disabled=""]:active,button[class*="DISABLED"]:active{
color: #4a4a4a !important;
background-color: #c3c3c3 !important;
cursor: not-allowed !important;
border-color: #545454 !important;
}

button[id*="TAB"][disabled="disabled"],
button[id*="TAB"][disabled="disabled"]:hover,
button.TAB-DISABLED, button.TAB-DISABLED:hover, button.TAB-DISABLED:active{
color: #999999 !important;
background-color: #666666 !important;
cursor: not-allowed !important;
border-color: #545454 !important;
}


buttonid*="TAB"][disabled="disabled"]{
color: #999999 !important;
background-color: #666666 !important;
cursor: not-allowed !important;
border-color: #545454 !important;
}

/*###################################*/
/* Input */
input,select{
border: 1px solid gray !important;
padding: 0px 4px !important;
border-radius: 0px !important;
}

input[disabled=""],input[readonly=""],
.INPUT-DISABLED, .INPUT-DISABLED A, TD.INPUT-DISABLED, TD.INPUT-DISABLED A, DIV.INPUT-DISABLED A{  
color: #334351 !important;
background-color: #d3dbe3 !important;
cursor: not-allowed !important;
}

/** required field *****/
/*
input[style*="background-color: rgb(0, 0, 1);"]
,input[style*="rgb(0, 0, 1);"]
,input[style*="background-color: rgb(1, 178, 7);"]
,input[style*="rgb(1, 178, 7);"]
*/
input.INPUT-MUSTKEYIN, input.INPUT-MANDATORY{
background-color: #ffe0e0 !important;
border: 1px solid #e5373 !important;
}

input.INPUT-MUSTKEYIN{
background-color: #ff9696  !important;
border-color: #710000 !important;
}

/*###################################*/
/* Fieldset */
fieldset[id*="GroupBox"], fieldset.gen_group, fieldset.DFGUIGBXline{  
border: 1px solid #052869 !important;
background-color:#f9f9ff !important;
border-radius: 10px !important;

/*
padding: 0px 9px 0px 4px !important;
padding-bottom: 10px !important;
*/
}

fieldset[id*="GroupBox"] legend[id*="legend"],fieldset.gen_group legend, legend.DFGUIGBX{  
color: #052869 !important;
font-weight: bold !important;
font-size: 110% !important;
background: rgba(0,0,0,0) !important;
text-transform: uppercase !important;

/* padding: 0px 7px !important; */
/*
font-size: 16px !important;
margin-bottom: -25px !important;
margin-left: 5px !important;
*/
}

/*###################################*/
/** MAIN radio box *********/
span.DFGUIRDB{
	background-color: rgba(0,0,0,0) !important;
}
legend[id*="Radio_Button"]{
	font-size: 100% !important;
}
fieldset[class*="Radio_Button_Group"]{
	border-color: rgba(0,0,0,0) !important;
}
span[id*="_rb_"],span[id*="RadioButton"]{
	display: flex;
	align-items: center;
	margin-left: -15px;
}

/*###################################*/
/** MAIN GroupBox *********/
div.gen_content{
background: linear-gradient(to bottom right,white,#f2f5ff) !important; 
background: white !important; 
}
fieldset[id*="main_gb"]{
box-shadow: none !important;
margin: auto important;
background-color: white !important;
position: relative important;
border-color: rgba(0,0,0,0) !important;
}

/*###################################*/
/** Breadcrumb *****/
span[id*="ltl_breadcrumb"]{
border-top: 1px #255cc4 solid;
margin-top: 2px;
color: #255cc4;
font-weight: bold;
padding: 5px 0px;
}

/*###################################*/
/*table literal*/
table[id*="Literal"], span.DFGUIPRM, table.DFGUILITd, span.DFGUILITd{
	background-color : rgba(0,0,0,0);
	color: #1549ab !important;
}

/*###################################*/
/*custom popup*/
#custom-popup {
    display: flex;
    justify-content: center;
	padding-top: 50px;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    position: fixed;
	top: 0;
	left: 0;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#custom-popup #cp-background {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#custom-popup #cp-content {
	position: relative;
	background: rgba(0,0,0,0);
	width: 500px;
	max-width: 99vw;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#custom-popup #cp-content #cp-header{
	background: black;
	color:white;
	padding: 10px;
	text-align:center;
	text-transform:uppercase;
	border-radius: 10px 10px 0px 0px;
}

#custom-popup #cp-content #cp-body{
	background: white;
	padding: 20px;
	border-radius: 0px 0px 10px 10px;
	word-wrap: break-word;
}

#custom-popup #cp-content #cp-close{
	border-radius: 100%;
	position: absolute;
	right: 4px;
	top: 4px;
	text-align:center;
	font-weight:bold;
	width:20px;
	height:20px;
	background-color:rgba(0,0,0,0.3);
	color:white;
	padding:3px;
	cursor:pointer;
}

#custom-popup #cp-content #cp-close:hover{
	opacity: 0.8;
}

#custom-popup #cp-content #cp-close:active{
	opacity: 1;
}

#custom-popup #cp-content.cp-error #cp-header{
	background: #dd2727;
}
#custom-popup #cp-content.cp-info #cp-header{
	background: #2f7efc;
}
#custom-popup #cp-content.cp-success #cp-header{
	background: #3aa536;
}

/*************************************/
/** PickADay Styles ***/
.pika-single {
    z-index: 9999;
    display: block;
    position: relative;
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pika-single:before,
.pika-single:after {
    content: " ";
    display: table;
}
.pika-single:after { clear: both }
.pika-single { *zoom: 1 }

.pika-single.is-hidden {
    display: none;
}

.pika-single.is-bound {
    position: absolute;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,.5);
}

.pika-lendar {
    float: left;
    width: 240px;
    margin: 8px;
}

.pika-title {
    position: relative;
    text-align: center;
}

.pika-label {
    display: inline-block;
    *display: inline;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin: 0;
    padding: 5px 3px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    background-color: #fff;
}
.pika-title select {
    cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    left: 0;
    top: 5px;
    filter: alpha(opacity=0);
    opacity: 0;
}

.pika-prev,
.pika-next {
    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    border: 0;
    padding: 0;
    width: 20px;
    height: 30px;
    /* hide text using text-indent trick, using width value (it's enough) */
    text-indent: 20px;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    opacity: .5;
    *position: absolute;
    *top: 0;
}

.pika-prev:hover,
.pika-next:hover {
    opacity: 1;
}

.pika-prev,
.is-rtl .pika-next {
    float: left;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
    *left: 0;
}

.pika-next,
.is-rtl .pika-prev {
    float: right;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
    *right: 0;
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
    cursor: default;
    opacity: .2;
}

.pika-select {
    display: inline-block;
    *display: inline;
}

.pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}

.pika-table th,
.pika-table td {
    width: 14.285714285714286%;
    padding: 0;
}

.pika-table th {
    color: #999;
    font-size: 12px;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
}

.pika-button {
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    border: 0;
    margin: 0;
    width: 100%;
    padding: 5px;
    color: #666;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    background: #f5f5f5;
}

.pika-week {
    font-size: 11px;
    color: #999;
}

.is-today .pika-button {
    color: #33aaff;
    font-weight: bold;
}

.is-selected .pika-button,
.has-event .pika-button {
    color: #fff;
    font-weight: bold;
    background: #33aaff;
    box-shadow: inset 0 1px 3px #178fe5;
    border-radius: 3px;
}

.has-event .pika-button {
    background: #005da9;
    box-shadow: inset 0 1px 3px #0076c9;
}

.is-disabled .pika-button,
.is-inrange .pika-button {
    background: #D5E9F7;
}

.is-startrange .pika-button {
    color: #fff;
    background: #6CB31D;
    box-shadow: none;
    border-radius: 3px;
}

.is-endrange .pika-button {
    color: #fff;
    background: #33aaff;
    box-shadow: none;
    border-radius: 3px;
}

.is-disabled .pika-button {
    pointer-events: none;
    cursor: default;
    color: #999;
    opacity: .3;
}

.is-outside-current-month .pika-button {
    color: #999;
    opacity: .3;
}

.is-selection-disabled {
    pointer-events: none;
    cursor: default;
}

.pika-button:hover,
.pika-row.pick-whole-week:hover .pika-button {
    color: #fff;
    background: #ff8000;
    box-shadow: none;
    border-radius: 3px;
}

/* styling for abbr */
.pika-table abbr {
    border-bottom: none;
    cursor: help;
}
</style>

